<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mhs/css/default.css" />
        {% endblock %}
    </head>

    <body>
        <div id="titlebar">
            <p id="title">Modern Hospital Systems Patient Tracking &amp; Analysis</p>
            {% block navbar %}
            {% endblock %}
            <div style="clear: both;"></div> <!-- Don't allow paragraphs to overflow div. -->
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>
