{% extends "mhs/default.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">Welcome, {{ user.first_name }}. Location: Home</p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <div class="centered_content">
        <h1>Home</h1>
        <p>Where to?</p>
        <ul>
            <li><a href="../find_patient/">Find Patient</a></li>
            <li><a href="../add_patient/">Add Patient</a></li>
            <li><a href="../change_password/">Change Password</a></li>
            {% if is_mhs_admin %}
                <li><a href="../manage_users/">Manage Users</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
