code {
    font-family: "DejaVu Sans Mono",  monospace;
    font-style: oblique;
}

code.code_block {
    border: thin solid black;
    padding: 0em 0.5em;
    display: block;

    background-color: #2B2B2B;          /* lighter-grey */
    white-space: pre;
    word-wrap: break-word;              /* @WARNING CSS3. In my tests, works on Chromium and Opera, but not Firefox. W3Schools says Safari supports word-wrap. */
                                        /* Possible reference: http://caniuse.com/#search=word-wrap */
                                        /* The "white-space: pre" property is what causes the need for word wrapping. */
                                        /* see: http://webdesignerwall.com/tutorials/word-wrap-force-text-to-wrap */
    font-style: normal;
}
