[Unit]
Description=Periodically check for failed units

# Some (many?) other timers trigger daily. This timer triggers a bit after those
# other timers.
[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=True

[Install]
WantedBy=timers.target
