/* Rules for images. -------------------------------------------------------- */
img {
    border: 3px solid #D7D5AF;
    margin: 0.5em;
}

img.banner {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float_right {float: right;}
.float_left  {float: left;}

/* Other rules. ------------------------------------------------------------- */
html {
    /* Make background contrast with body. */
    background-image: url('/images/linedpaper.png');
    /* Prevent body from touching viewport. */
    padding-right: 1em;
    padding-left: 1em;
}

body {
    /* Make body contrast with rest of page. */
    background-color: white;
    border: thin solid lightgrey;
    box-shadow: 0 0 0.5em 0 lightgrey;
    /* Prevent contents from touching border. */
    padding: 0.5em;
    /* Center body. */
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}

blockquote {font-style: italic;}
