<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title><%= yield :title %></title>
        <%= yield :stylesheet_tags %>
    </head>
    <body>
        <%= yield :body %>
    </body>
</html>
