[Unit]
Description=Back up subsonic's database rebuild script

[Service]
Type=oneshot
# NOTE: Subsonic is left running while this copy occurs. If subsonic edits this
# file while it's being copied, corruption or other errors might occur. We do
# this anyway because this user doesn't have authorization to stop and start the
# Subsonic service, and doing so introduces problems.
ExecStart=/usr/bin/install -Dm600 /var/lib/subsonic/db/subsonic.script \
    "{{ subsonic_backup_home }}/backups/"
