# Use Wants instead of Requires in case network-online.target isn't correctly
# configured.
[Unit]
Description=Update AUR packages
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/aursync --chroot --update --no-confirm
