[Unit]
Description=Log available entropy

[Service]
ExecStart=/usr/bin/bash -c 'echo Available entropy: $(cat /proc/sys/kernel/random/entropy_avail)'
