[Unit]
Description=Set IP address of {{ hostapd_wlan_if }}_secure
Requires=hostapd.service
After=hostapd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'until ip link show | grep {{ hostapd_wlan_if }}_secure; do sleep 1; done'
ExecStart=/usr/bin/ip address add 192.168.13.1/24 dev {{ hostapd_wlan_if }}_secure

[Install]
WantedBy=multi-user.target
