# Configure networking for libvirt.
#
# Network configuration capabilities are built into libvirt. However, libvirt
# only works with certain backends, such as iptables. This unit lets libvirt
# integrate with a custom networking backend (including nftables).
#
# libvirtd should be configured to Require this unit, and to start after this
# unit. Such a setup obviates the need for an [Install] section with a
# `RequiredBy=` declaration, which only works with enabled units anyway. See
# `systemctl edit libvirtd.service`.

[Unit]
Description=libvirt networking
Requires=dnsmasq.service
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/libvirtd-networking-start
ExecStop=/usr/local/bin/libvirtd-networking-stop
