{% extends "mhs/default.html" %}

{% block title %}Add Patient{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Add Patient
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <form action="../add_patient/" method="post">
        {% csrf_token %}
        <h1>Add Patient</h1>
        {% if err_msg %}
            <p><em>{{ err_msg }}</em></p>
        {% endif %}
        <h2>Patient</h2>
        <label for="patient_first_name">First Name:</label>
        <input id="patient_first_name" type="text" name="patient first name" required />
        <label for="patient_last_name">Last Name:</label>
        <input id="patient_last_name" type="text" name="patient last name" required />
        <label for="patient_phone_number">Phone Number:</label>
        <input id="patient_phone_number" type="text" name="patient phone number" />
        <label for="patient_address">Address:</label>
        <textarea id="patient_address" name="patient address"></textarea>
        <label for="patient_birth_date">Date of Birth:</label>
        <input id="patient_birth_date" type="text" name="patient birth date" />
        <label for="patient_birth_place">Place of Birth:</label>
        <input id="patient_birth_place" type="text" name="patient birth place" />
        <label for="patient_social_security">Social Security Number</label>
        <input id="patient_social_security" type="text" name="patient social security" />
        <label for="patient_health_issues">Health Issues</label>
        <textarea id="patient_health_issues" name="patient health issues"></textarea>
        <h2>Emergency Contact</h2>
        <label for="emergency_contact_first_name">First Name:</label>
        <input id="emergency_contact_first_name" type="text" name="emergency contact first name" />
        <label for="emergency_contact_last_name">Last Name:</label>
        <input id="emergency_contact_last_name" type="text" name="emergency contact last name" />
        <label for="emergency_contact_phone_number">Phone Number:</label>
        <input id="emergency_contact_phone_number" type="text" name="emergency contact phone number" />
        <label for="emergency_contact_address">Address:</label>
        <textarea id="emergency_contact_address" name="emergency contact address"></textarea>
        <h2>Doctor</h2>
        <label for="doctor_first_name">First Name:</label>
        <input id="doctor_first_name" type="text" name="doctor first name" />
        <label for="doctor_last_name">Last Name:</label>
        <input id="doctor_last_name" type="text" name="doctor last name" />
        <label for="doctor_phone_number">Phone Number:</label>
        <input id="doctor_phone_number" type="text" name="doctor phone number" />
        <label for="doctor_address">Address:</label>
        <textarea id="doctor_address" name="doctor address"></textarea>
        <h2>Insurance Provider</h2>
        <label for="insurance_name">Name:</label>
        <input id="insurance_name" type="text" name="insurance name" />
        <label for="insurance_phone_number">Phone Number:</label>
        <input id="insurance_phone_number" type="text" name="insurance phone number" />
        <label for="insurance_address">Address:</label>
        <textarea id="insurance_address" name="insurance address"></textarea>
        <!-- Phew! Watch out for carpal tunnel. -->
        <input id="submit_form" type="submit" value="Submit" />
    </form>
{% endblock %}
