{% extends "mhs/default.html" %}

{% block title %}Add Patient{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Add Patient
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Add Patient</h1>
        {% include "mhs/patient_form_subtemplate.html" %}
        <label>&nbsp;</label>
        <input id="submit_form" type="submit" value="Submit" />
    </form>
{% endblock %}
