{% extends "mhs/default.html" %}

{% block title %}Change Password{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Change Password
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <form method="post" class="centered_content">
        {% csrf_token %}
        <h1>Change Password</h1>
        {% if message %}
            <p><em>{{ message }}</em></p><br />
        {% endif %}

        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        {% endfor %}

        <label>&nbsp;</label>
        <input id="submit_form" type="submit" value="Submit" />
    </form>
{% endblock %}
