{% extends "mhs/default.html" %}

{% block title %}Find Patient{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Find Patient
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <form method="post" class="centered_content">
        {% csrf_token %}
        <h1>Find Patient</h1>
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        {% endfor %}

        <label>&nbsp;</label>
        <input id="submit_form" type="submit" value="Search" />

        <p>Search terms are AND-ed, so each additional term further narrows
        results. Searching for a single date yields exact matches, whereas
        searching for two dates yields dates within that range.</p>
    </form>

    <table>
        <caption>Patients</caption>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Social Security Number</th>
                <th>Phone Number</th>
                <th>Primary Care Doctor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.basic_info.first_name }}</td>
                <td>{{ patient.basic_info.last_name }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.social_security_number }}</td>
                <td>{{ patient.basic_info.phone_number }}</td>
                <td>{{ patient.primary_care_doctor }}</td>
                <td><a href="../edit_patient_{{ patient.id}}/">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
