{% extends "mhs/default.html" %}

{% block title %}Find Patient{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Find Patient
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <form method="post" class="centered_content">
        {% csrf_token %}
        <h1>Find Patient</h1>
        <p>Search terms are ANDed, so each additional term further narrows
        results. Searching for nothing allows you to browse through a list of
        all patients.</p>

        <label for="id_first_name">First Name:</label>
        <input
            id="id_first_name"
            type="search"
            name="first name"
            value="{{ first_name }}"
            />
        <label for="id_last_name">Last Name:</label>
        <input
            id="id_last_name"
            type="search"
            name="last name"
            value="{{ last_name }}"
            />
        <label for="id_date_of_birth">Date of Birth:</label>
        <input
            id="id_date_of_birth"
            type="search"
            name="date of birth"
            value="{{ date_of_birth }}"
            />
        <label for="id_social_security_number">SSN:</label>
        <input
            id="id_social_security_number"
            type="search"
            name="social security number"
            value="{{ social_security_number }}"
            />
        <label for="id_phone_number">Phone Number:</label>
        <input
            id="id_phone_number"
            type="search"
            name="phone number"
            value="{{ phone_number }}"
            />

        <label>&nbsp;</label>
        <input id="submit_form" type="submit" value="Search" />
    </form>

    <table>
        <caption>Patients</caption>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Social Security Number</th>
                <th>Phone Number</th>
                <th>Primary Care Doctor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.basic_info.first_name }}</td>
                <td>{{ patient.basic_info.last_name }}</td>
                <td>{{ patient.date_of_birth }}</td>
                <td>{{ patient.social_security_number }}</td>
                <td>{{ patient.basic_info.phone_number }}</td>
                <td>{{ patient.primary_care_doctor }}</td>
                <td><a href="../edit_patient_{{ patient.id}}/">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
