{% extends "mhs/default.html" %}

{% block title %}Find User{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Find User
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <h1>Find User</h1>
    {% if is_mhs_admin %}
        <p>You're an MHS admin, so you can find users.</p>
        <p><a href="../edit_user/">Edit User</a></p>
    {% else %}
        <p>You're not an MHS admin, so you can't find users.</p>
    {% endif %}
{% endblock %}
