{% extends "mhs/default.html" %}

{% block title %}Generate Report{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">
        Welcome, {{ user.first_name }}. Location: <a href="../home/">Home</a> / Generate Report
    </p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <h1>Generate Report</h1>
    {% if is_mhs_admin %}
        <p>You're an MHS admin, so you can generate reports.</p>
    {% else %}
        <p>You're not an MHS admin, so you can't generate reports.</p>
    {% endif %}
{% endblock %}
