{% extends "mhs/default.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <p id="bread_crumb_nav">Welcome, {{ user.first_name }}. Location: Home</p>
    <p id="logout"><a href="../logout/">Logout</a></p>
{% endblock %}

{% block content %}
    <div id="home_navigation">
        <h1>Home</h1>
        <ul>
            <li><a href="../find_patient/">Find Patient</a></li>
            <li><a href="../add_patient/">Add Patient</a></li>
            <li><a href="../change_password/">Change Password</a></li>
            {% for group in user.groups.all %}
                {% if "mhs-admin" == group.name %}
                    <li><a href="../find_user/">Find User</a></li>
                    <li><a href="../gen_report/">Generate Report</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
