{% extends "mhs/default.html" %}

{% block title %}login{% endblock %}

{% block body %}
    {% if err_msg %}
        <p id="err_msg">{{ err_msg }}</p>
    {% endif %}
    <form action="{{ form_url }}" method="post">
        {% csrf_token %}
        <h1>Log In</h1>
        <p><label><input name="username" type="text" required size="25" /> Username</label></p>
        <p><label><input name="password" type="password" required size="25" /> Password</label></p>
        <p><button>Submit</button></p>
    </form>
{% endblock %}
