[Unit]
Description=Start a btrfs balance

# If a balance successfully completes, the `btrfs balance cancel` command is
# guaranteed to fail, because by the time it's called, there isn't any balance
# to cancel. In this case, btrfs-balance returns 2, so a good clean solution is
# to just ignore that error code. Unfortunately, the *ExitStatus directives
# apply to the main process' exit code. Ignoring all error codes (with -) is a
# kludge.
[Service]
ExecStart=/usr/bin/btrfs balance start --full-balance '{{ btrfs_path }}'
ExecStop=-/usr/bin/btrfs balance cancel '{{ btrfs_path }}'
