[Unit]
Description=Start a short SMART scan
# for email alerts
Wants=network.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/smart-test-short
