/* The title bar simply announces "this is application XYZ". Don't waste space
on padding: this block is window dressing, and that space should be used for
more interesting content. All items inside the titlebar have 0 margin, relying
instead on the padding provided by the titlebar. */
div#titlebar {
    padding: 0.5em;
    margin: 0.5em;
    border: thin solid gray;
    border-radius: 0.5em;
}

p#title {
    margin: 0;

    text-align: center;
    font-size: larger;
}

p#bread_crumb_nav {
    width: 79%;
    float: left;
    margin: 0;

    text-align: left;
    font-size: smaller;
}

p#logout {
    width: 19%;
    float: right;
    margin: 0;

    text-align: right;
    font-size: smaller;
}

/* The login form should be centered in the page and use visual cues to separate
it from the substantial amount of surrounding whitespace. Labels should be to
the left of inputs, and all inputs should line up into a column. */
#login_form {
    width: 22em;
    margin: auto;
    text-align: center;
}

.login_row label {
    float: left;
    width: 8em;
    text-align: right;
}

.login_row input {
    width: 14em;
}

/* The navigation links on the homepage should be centered in the page and use
vidual cues to separate it from the substantial amount of surrounding
whitespace. */
div#home_navigation {
    max-width: 30em;
    margin: auto;
}
