p#err_msg {
    color: red;
}

p#titlebar {
    font-size: larger;
    text-align: center;
    border: thin solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 2px 0 gray inset;
}
