[Unit]
Description=Mnemosyne sync server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/mnemosyne --sync-server
User={{ mnemosyne_user }}
Group={{ mnemosyne_user }}

[Install]
WantedBy=multi-user.target
