# Use Wants instead of Requires in case network-online.target isn't correctly
# configured.
[Unit]
Description=Check for failed units
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
{% if check_units_home is defined %}
ExecStart={{ check_units_home }}/.local/bin/check-units.sh
{% else %}
ExecStart=/usr/local/bin/check-units.sh
{% endif %}
