<% content_for(:body) do %>
    <p>
        You can also
        <%= link_to('create', :action => 'create_form') %>
        a new item.
    </p>
    <% if 0 < @items.count %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Tags</th>
                    <th>Links</th>
                </tr>
            </thead>
            <tbody>
                <% @items.each do |item| %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.description %></td>
                        <td>FIXME</td>
                        <td><%=
                            link_to(
                                'details',
                                :action => 'id_read',
                                :id => item.id
                            )
                        %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p>No items!</p>
    <% end %>
<% end %>
