<% content_for :title do %>
    Home
<% end %>

<% content_for :body do %>
    <h1>Home</h1>
    <p>Links to parts of the site:</p>
    <ul>
        <li><%= link_to('Home', {:controller => 'home'}) %></li>
    </ul>
<% end %>
