[Unit]
Description=Update Pacman's mirrorlist
# Use Wants instead of Requires in case network-online.target isn't correctly
# configured.
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# Ask for https protocol to avoid getting rsync:// entries in mirrorlist.
ExecStart=/usr/bin/reflector \
    --country US \
    --protocol https \
    --number 5 \
    --sort score \
    --save /etc/pacman.d/mirrorlist
