[Unit]
Description=Periodically update Pacman's mirrorlist

# We add a RandomizedDelaySec to be nicer to mirrors.
[Timer]
OnCalendar=daily
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
