[Unit]
Description=Back up subsonic's database rebuild script

# We stop Subsonic while creating a backup to ensure the restore script is in a
# sane state.
[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop subsonic
ExecStart=/usr/bin/install -Dm640 /var/lib/subsonic/db/subsonic.script \
    /var/local/subsonic/backups/
ExecStartPost=/usr/bin/systemctl start subsonic
