[Unit]
Description=Delete old snapshots of {{ path }}

[Service]
Type=oneshot
ExecStart=/usr/local/bin/btrfs-subvolume-delete.py "{{ path }}" {{ days }} {{ weeks }}
