[Unit]
Description=Periodically delete old snapshots of {{ path }}

[Timer]
# See: systemd.time(7)
OnCalendar=*-*-* 02:00:00
Persistent=True

[Install]
WantedBy=timers.target
