<% title = 'Comments' %>

<% content_for(:title) do %><%= title %><% end %>

<% content_for(:body) do %>
    <%= form_tag('/comment', :method => 'post') do %>
        <p><label>Name: <input name='name' type='text' /></label></p>
        <p><label>Message: <input name='message' type='textarea' /></label></p>
        <p><input name='submit' type='submit' value='Submit' /></p>
        <p><input name='cancel' type='submit' value='Cancel' /></p>
    <% end %>
<% end %>
