<% title = "Comments" %>

<% content_for(:title) do %><%= title %><% end %>

<% content_for(:body) do %>
    <h1><%= title %></h1>
    <% if 0 == @comments.size %>
        <p>No comments.</p>
    <% else %>
        <ol>
        <% @comments.each do |comment| %>
            <li><%= comment.name %>: <%= comment.message %></li>
        <% end %>
        </ol>
    <% end %>
<% end %>
